<!--Footer-->
<footer class="page-footer indigo center-on-small-only mt-3">
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2018 Copyright:
      <a href="mailto:neyerolmos@gmail.com"> Reimer Vallejos </a>

      <span style="float:right">
        <i class="fa fa-globe"></i>
        Website:
        <a href="https://github.com/NeyerOlmos/Fletalo" target="blank">Fletalo</a>
      </span>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->